<suite name="Suite">
  <listeners>
        <listener class-name="listeners.ExtentListener"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
    <class name="testscripts.PetTests"/>
     <class name="testscripts.PetNegativeTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
